
*.so
*.o
.DS_Store
*pyc

*.t7
*.pth
*.pt
*.jpg
*.png
*.jpeg
*.mp4
*.avi
*.flv
*.pkl
output/
exp/

nms.c
nms.cpython-35m-x86_64-linux-gnu.so
nms.cpython-36m-x86_64-linux-gnu.so

*.xml
*.xls
*.json
nohup.out
__pycache__
__pycache__/*
.idea

events.out.tfevents*
